.main {
    background-color: orange;
    width: 80%;
    margin: auto;
}

article p{
    background-color: red;
    column-count: 2;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    article p{
        column-count: 1;
    }
}