{% extends "main.html" %}

{% block title %}Liste des livres{% endblock title %}

{% block h1 %}Liste des livres{% endblock h1 %} 

{% comment %} {% block sidebar %}{% endblock sidebar %} {% endcomment %}

{% block content %}
    {% for livre in Livre %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Titre</th>
            <th>Date parution</th>
            <th>Nombres de pages</th>
            <th>Resume</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{livre.id}}</th>
            <td>{{livre.titre}}</td>
            <td>{{livre.date_parution}}</td>
            <td>{{livre.nombre_pages}}</td>
            <td>{{livre.resume}}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock content %}